## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [32]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Alappuzha,IN,77.23,9.49,76.33,Panoramic Sea Resort
1,10,Luganville,VU,82.40,-15.53,167.17,The Espiritu Hotel
2,12,Vanimo,PG,86.68,-2.67,141.30,Vahmoneh Lodge Vanimo
3,13,Yulara,AU,82.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
4,14,Huangyan,CN,82.53,28.65,121.26,景和商务酒店

In [33]:
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Alappuzha,IN,77.23,9.49,76.33,Panoramic Sea Resort
1,10,Luganville,VU,82.40,-15.53,167.17,The Espiritu Hotel
2,12,Vanimo,PG,86.68,-2.67,141.30,Vahmoneh Lodge Vanimo
3,13,Yulara,AU,82.40,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
4,14,Huangyan,CN,82.53,28.65,121.26,景和商务酒店
...,...,...,...,...,...,...,...
238,677,Anlu,CN,80.98,31.17,112.58,Thank Inn Plus Hotel Hubei Jingmen Zhongxiang ...
239,681,Salinopolis,BR,80.06,-0.61,-47.36,Hotel Salinópolis
240,683,Balabac,PH,85.89,7.99,117.06,Sing and Swing Lodge
241,688,Gerash,IR,80.60,27.67,54.14,Chelpasin
242,689,Waingapu,ID,83.23,-9.66,120.26,Pondok Wisata Elim

In [34]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Hope")] 
vacation_end = vacation_df.loc[(vacation_df["City"] == "Hope")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "North Little Rock")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Shelby")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Clarksdale")]

In [38]:
vacation_start

     City_ID  City Country  Max Temp    Lat    Lng         Hotel Name
133      408  Hope      US      88.0  33.67 -93.59  Best Western Hope

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure